<!DOCTYPE html>
<html lang="en">

<!-- Mirrored from kotha.softtechthemes.com/html/kotha/business.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 07 Mar 2022 11:34:30 GMT -->

<head>
		<%-include('head.ejs') %> 
</head>

<body>
    <!-- Preloader -->
    <div class="preloader js-preloader flex-center">
        <div class="dots">
            <div class="dot"></div>
            <div class="dot"></div>
            <div class="dot"></div>
        </div>
    </div>
    <!-- Preloader End -->

    <!-- Navbar starts -->
    <%-include('navbar.ejs') %> 
    <!-- Navbar starts -->

    <!-- Banner  -->
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="t-pt-70 t-pb-70 t-bg-secondary">
                    <h4 class="mt-0 t-text-light text-capitalize text-center" id="catHead">
                        business
                    </h4>
                </div>
            </div>
        </div>
    </div>
    <!-- Banner End -->

    <div class="t-pt-70 t-pb-70">
        <div class="container">
            <div class="row">
                <div class="col-lg-9 t-mb-30 mb-lg-0">
                    <div class="row">

                        <div class="col-12 t-mb-60">
                            <div class="row" id="data">
                                <div class="col-md-4 t-mb-30 mb-md-0">
                                    <div class="post post--bottom">
                                        <img src="/assets/img/img-9.jpg" alt="kotha" class="img-fluid w-100">
                                        <div class="post__tag post__tag-right-top">
                                            <a href="#"
                                                class="t-link t-link--light tag tag--skew tag-epsilon text-uppercase"
                                                tabindex="0">
                                                <span class="tag__skew-reverse">
                                                    tech
                                                </span>
                                            </a>
                                        </div>
                                        <h5 class="post__title t-mt-15">
                                            <a href="blog-details.html" class="t-link t-link--secondary" tabindex="0">
                                                An arithmetic operation operates on two numbers
                                            </a>
                                        </h5>
                                        <ul class="list d-flex align-items-center">
                                            <li class="t-mr-16">
                                                <a href="#" class="t-link t-link--secondary ex-sm-text text-capitalize"
                                                    tabindex="0">
                                                    <span class="las la-calendar-alt sm-text"></span>
                                                    25 October
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#" class="t-link t-link--secondary ex-sm-text text-capitalize"
                                                    tabindex="0">
                                                    <span class="las la-clock sm-text"></span>
                                                    10 min read
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-md-4 t-mb-30 mb-md-0">
                                    <div class="post post--bottom">
                                        <img src="/assets/img/img-10.jpg" alt="kotha" class="img-fluid w-100">
                                        <div class="post__tag post__tag-right-top">
                                            <a href="#"
                                                class="t-link t-link--light tag tag--skew tag-gamma text-uppercase"
                                                tabindex="0">
                                                <span class="tag__skew-reverse">
                                                    sports
                                                </span>
                                            </a>
                                        </div>
                                        <h5 class="post__title t-mt-15">
                                            <a href="blog-details.html" class="t-link t-link--secondary" tabindex="0">
                                                Is the result of example above the same as less
                                            </a>
                                        </h5>
                                        <ul class="list d-flex align-items-center">
                                            <li class="t-mr-16">
                                                <a href="#" class="t-link t-link--secondary ex-sm-text text-capitalize"
                                                    tabindex="0">
                                                    <span class="las la-calendar-alt sm-text"></span>
                                                    25 October
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#" class="t-link t-link--secondary ex-sm-text text-capitalize"
                                                    tabindex="0">
                                                    <span class="las la-clock sm-text"></span>
                                                    10 min read
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="post post--bottom">
                                        <img src="/assets/img/img-11.jpg" alt="kotha" class="img-fluid w-100">
                                        <div class="post__tag post__tag-right-top">
                                            <a href="#"
                                                class="t-link t-link--light tag tag--skew tag-zeta text-uppercase"
                                                tabindex="0">
                                                <span class="tag__skew-reverse">
                                                    politics
                                                </span>
                                            </a>
                                        </div>
                                        <h5 class="post__title t-mt-15">
                                            <a href="blog-details.html" class="t-link t-link--secondary" tabindex="0">
                                                The Tremendous improtance of Owning
                                                a perfect piece
                                            </a>
                                        </h5>
                                        <ul class="list d-flex align-items-center">
                                            <li class="t-mr-16">
                                                <a href="#" class="t-link t-link--secondary ex-sm-text text-capitalize"
                                                    tabindex="0">
                                                    <span class="las la-calendar-alt sm-text"></span>
                                                    25 October
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#" class="t-link t-link--secondary ex-sm-text text-capitalize"
                                                    tabindex="0">
                                                    <span class="las la-clock sm-text"></span>
                                                    10 min read3
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="row">
                        <div class="col-12">
                            <div class="section-title d-flex justify-content-between align-items-center">
                                <div class="tag tag--skew tag-delta d-inline-block">
                                    <h5 class="tag__skew-reverse t-text-light text-capitalize mt-0 mb-0">
                                        stay connected
                                    </h5>
                                </div>
                            </div>
                            <ul class="list row t-mt-30">
                                <li class="t-mr-16 t-mb-10">
                                    <a href="#" class="t-link">
                                        <span class="social-counter">
                                            <span class="social-counter__icon social-counter__icon--be t-mr-8">
                                                <span class="social-counter__icon-is">
                                                    <i class="lab la-behance"></i>
                                                </span>
                                            </span>
                                            <span class="social-counter__text">
                                                <span class="social-counter__num">
                                                    500
                                                </span>
                                                <span class="social-counter__follow sm-text text-capitalize">
                                                    followers
                                                </span>
                                            </span>
                                        </span>
                                    </a>
                                </li>
                                <li class="t-mr-16 t-mb-10">
                                    <a href="#" class="t-link">
                                        <span class="social-counter">
                                            <span class="social-counter__icon social-counter__icon--fb t-mr-8">
                                                <span class="social-counter__icon-is">
                                                    <i class="lab la-facebook-f"></i>
                                                </span>
                                            </span>
                                            <span class="social-counter__text">
                                                <span class="social-counter__num">
                                                    300
                                                </span>
                                                <span class="social-counter__follow sm-text text-capitalize">
                                                    followers
                                                </span>
                                            </span>
                                        </span>
                                    </a>
                                </li>
                                <li class="t-mr-16 t-mb-10">
                                    <a href="#" class="t-link">
                                        <span class="social-counter">
                                            <span class="social-counter__icon social-counter__icon--tw t-mr-8">
                                                <span class="social-counter__icon-is">
                                                    <i class="lab la-twitter"></i>
                                                </span>
                                            </span>
                                            <span class="social-counter__text">
                                                <span class="social-counter__num">
                                                    450
                                                </span>
                                                <span class="social-counter__follow sm-text text-capitalize">
                                                    followers
                                                </span>
                                            </span>
                                        </span>
                                    </a>
                                </li>
                                <li class="t-mr-16 t-mb-10">
                                    <a href="#" class="t-link">
                                        <span class="social-counter">
                                            <span class="social-counter__icon social-counter__icon--ins t-mr-8">
                                                <span class="social-counter__icon-is">
                                                    <i class="lab la-instagram"></i>
                                                </span>
                                            </span>
                                            <span class="social-counter__text">
                                                <span class="social-counter__num">
                                                    500
                                                </span>
                                                <span class="social-counter__follow sm-text text-capitalize">
                                                    followers
                                                </span>
                                            </span>
                                        </span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="t-link">
                                        <span class="social-counter">
                                            <span class="social-counter__icon social-counter__icon--in t-mr-8">
                                                <span class="social-counter__icon-is">
                                                    <i class="lab la-linkedin-in"></i>
                                                </span>
                                            </span>
                                            <span class="social-counter__text">
                                                <span class="social-counter__num">
                                                    500
                                                </span>
                                                <span class="social-counter__follow sm-text text-capitalize">
                                                    followers
                                                </span>
                                            </span>
                                        </span>
                                    </a>
                                </li>
                            </ul>
                        </div>

                        <div class="col-12 t-mt-30">
                            <div class="section-title">
                                <div class="tag tag--skew tag-delta d-inline-block">
                                    <h5 class="tag__skew-reverse t-text-light text-capitalize mt-0 mb-0">
                                        other news
                                    </h5>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 t-mt-30">
                            <ul class="list">
                                <li>
                                    <div class="row no-gutters">
                                        <div class="col-4">
                                            <div class="post--right-img t-flex-100 t-mr-8">
                                                <img src="/assets/img/img-26.jpg" alt="kotha" class="img-fluid w-100">
                                            </div>
                                        </div>
                                        <div class="col-8">
                                            <div class="post--right-content t-flex-100">
                                                <ul class="list d-flex align-items-center">
                                                    <li>
                                                        <a href="#"
                                                            class="t-link t-link--secondary ex-sm-text text-capitalize">
                                                            <span class="las la-calendar-alt ex-sm-text"></span>
                                                            25 october
                                                        </a>
                                                    </li>
                                                </ul>
                                                <h4 class="post__title post__title-xsm mt-0 mb-0 t-md-24-lg-14">
                                                    <a href="blog-details.html" class="t-link t-link--secondary">
                                                        The Tremendous
                                                        improtance of Owning
                                                        a perfect piece
                                                    </a>
                                                </h4>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="row no-gutters t-mt-30">
                                        <div class="col-4">
                                            <div class="post--right-img t-flex-100 t-mr-8">
                                                <img src="/assets/img/img-27.jpg" alt="kotha" class="img-fluid w-100">
                                            </div>
                                        </div>
                                        <div class="col-8">
                                            <div class="post--right-content t-flex-100">
                                                <ul class="list d-flex align-items-center">
                                                    <li>
                                                        <a href="#"
                                                            class="t-link t-link--secondary ex-sm-text text-capitalize">
                                                            <span class="las la-calendar-alt ex-sm-text"></span>
                                                            25 october
                                                        </a>
                                                    </li>
                                                </ul>
                                                <h4 class="post__title post__title-xsm mt-0 mb-0 t-md-24-lg-14">
                                                    <a href="blog-details.html" class="t-link t-link--secondary">
                                                        The Tremendous
                                                        improtance of Owning
                                                        a perfect piece
                                                    </a>
                                                </h4>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="row no-gutters t-mt-30">
                                        <div class="col-4">
                                            <div class="post--right-img t-flex-100 t-mr-8">
                                                <img src="/assets/img/img-28.jpg" alt="kotha" class="img-fluid w-100">
                                            </div>
                                        </div>
                                        <div class="col-8">
                                            <div class="post--right-content t-flex-100">
                                                <ul class="list d-flex align-items-center">
                                                    <li>
                                                        <a href="#"
                                                            class="t-link t-link--secondary ex-sm-text text-capitalize">
                                                            <span class="las la-calendar-alt ex-sm-text"></span>
                                                            25 october
                                                        </a>
                                                    </li>
                                                </ul>
                                                <h4 class="post__title post__title-xsm mt-0 mb-0 t-md-24-lg-14">
                                                    <a href="blog-details.html" class="t-link t-link--secondary">
                                                        The Tremendous
                                                        improtance of Owning
                                                        a perfect piece
                                                    </a>
                                                </h4>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="row no-gutters t-mt-30">
                                        <div class="col-4">
                                            <div class="post--right-img t-flex-100 t-mr-8">
                                                <img src="/assets/img/img-29.jpg" alt="kotha" class="img-fluid w-100">
                                            </div>
                                        </div>
                                        <div class="col-8">
                                            <div class="post--right-content t-flex-100">
                                                <ul class="list d-flex align-items-center">
                                                    <li>
                                                        <a href="#"
                                                            class="t-link t-link--secondary ex-sm-text text-capitalize">
                                                            <span class="las la-calendar-alt ex-sm-text"></span>
                                                            25 october
                                                        </a>
                                                    </li>
                                                </ul>
                                                <h4 class="post__title post__title-xsm mt-0 mb-0 t-md-24-lg-14">
                                                    <a href="blog-details.html" class="t-link t-link--secondary">
                                                        The Tremendous
                                                        improtance of Owning
                                                        a perfect piece
                                                    </a>
                                                </h4>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>





    <!-- Footer  -->
    <footer class="t-bg-secondary footer">
            <%-include('footer.ejs') %> 
    </footer>
    <!-- Footer End -->

    <!-- jquery -->
    <script src="/assets/js/jquery.js"></script>
    <!-- Bootstrap -->
    <script src="/assets/js/bootstrap.bundle.min.js"></script>
    <!-- Nice Select -->
    <script src="/assets/js/jquery.nice-select.min.js"></script>
    <!-- Slick Slider  -->
    <script src="/assets/js/slick.min.js"></script>
    <!-- Main script -->
    <script src="/assets/js/main.js"></script>


    <script>



        window.onload = async function () {

            var months = ["January", "February", "March", "April", "May", "June",
                "July", "August", "September", "October", "November", "December"];

            var dateObj = new Date();
            var month = dateObj.getUTCMonth() + 1; //months from 1-12
            var day = dateObj.getUTCDate();
            var year = dateObj.getUTCFullYear();

            mm = months[month - 1];
            newdate = mm + " " + day + ", " + year;
            document.getElementById("date").innerText = newdate;

            const link = document.baseURI;
            var category = link.substring(
                link.lastIndexOf("/") + 1,
                link.length
            );
            //console.log(category);

            const clr = ['tag-epsilon', 'tag-zeta', 'tag-delta', 'tag-beta', 'tag-gamma', 'tag-alpha', 'tag-epsilon', 'tag-zeta', 'tag-delta', 'tag-beta', 'tag-gamma', 'tag-alpha', 'tag-epsilon', 'tag-zeta', 'tag-delta', 'tag-beta', 'tag-gamma', 'tag-alpha', 'tag-epsilon', 'tag-zeta', 'tag-delta', 'tag-beta', 'tag-gamma', 'tag-alpha', 'tag-epsilon', 'tag-zeta', 'tag-delta', 'tag-beta', 'tag-gamma', 'tag-alpha', 'tag-epsilon', 'tag-zeta', 'tag-delta', 'tag-beta', 'tag-gamma', 'tag-alpha', 'tag-epsilon', 'tag-zeta', 'tag-delta', 'tag-beta', 'tag-gamma', 'tag-alpha', 'tag-epsilon', 'tag-zeta', 'tag-delta', 'tag-beta', 'tag-gamma', 'tag-alpha', 'tag-epsilon', 'tag-zeta', 'tag-delta', 'tag-beta', 'tag-gamma', 'tag-alpha', 'tag-epsilon', 'tag-zeta', 'tag-delta', 'tag-beta', 'tag-gamma', 'tag-alpha', 'tag-epsilon', 'tag-zeta', 'tag-delta', 'tag-beta', 'tag-gamma', 'tag-alpha', 'tag-epsilon', 'tag-zeta', 'tag-delta', 'tag-beta', 'tag-gamma', 'tag-alpha', 'tag-epsilon', 'tag-zeta', 'tag-delta', 'tag-beta', 'tag-gamma', 'tag-alpha', 'tag-epsilon', 'tag-zeta', 'tag-delta', 'tag-beta', 'tag-gamma', 'tag-alpha', 'tag-epsilon', 'tag-zeta', 'tag-delta', 'tag-beta', 'tag-gamma', 'tag-alpha', 'tag-epsilon', 'tag-zeta', 'tag-delta', 'tag-beta', 'tag-gamma', 'tag-alpha', 'tag-epsilon', 'tag-zeta', 'tag-delta', 'tag-beta', 'tag-gamma', 'tag-alpha', 'tag-epsilon', 'tag-zeta', 'tag-delta', 'tag-beta', 'tag-gamma', 'tag-alpha', 'tag-epsilon', 'tag-zeta', 'tag-delta', 'tag-beta', 'tag-gamma', 'tag-alpha', 'tag-epsilon', 'tag-zeta', 'tag-delta', 'tag-beta', 'tag-gamma', 'tag-alpha', 'tag-epsilon', 'tag-zeta', 'tag-delta', 'tag-beta', 'tag-gamma', 'tag-alpha', 'tag-epsilon', 'tag-zeta', 'tag-delta', 'tag-beta', 'tag-gamma', 'tag-alpha', 'tag-epsilon', 'tag-zeta', 'tag-delta', 'tag-beta', 'tag-gamma', 'tag-alpha', 'tag-epsilon', 'tag-zeta', 'tag-delta', 'tag-beta', 'tag-gamma', 'tag-alpha',];

            const res = await fetch("/show", {
                method: "POST",
                headers: { "Content-Type": "application/json" },
                body: JSON.stringify({}),
            });

            const data = await res.json();
           // console.log(data);

            let options = "";
            for (var i = 0; i < data.length; i++) {

                //for setting the ehading at the top to current category
                if (i === data.length - 1) {
                    document.getElementById('catHead').innerText = category;
                }

                if (data[i].category === category) {
                    options += ` <div class="col-md-4 t-mb-30 mb-md-0">
                                    <div class="post post--bottom">
                                        <img src="${data[i].image}" alt="kotha" class="img-fluid w-100">
                                        <div class="post__tag post__tag-right-top">
                                            <a target="blank" href="/${data[i].url}"
                                                class="t-link t-link--light tag tag--skew tag-beta text-uppercase"
                                                tabindex="0">
                                                <span class="tag__skew-reverse">
                                                    ${data[i].category}
                                                </span>
                                            </a>
                                        </div>
                                        <h5 class="post__title t-mt-15">
                                            <a target="blank" href="/${data[i].url}" class="t-link t-link--secondary" tabindex="0">
                                                ${data[i].title}
                                            </a>
                                        </h5>
                                        <ul class="list d-flex align-items-center">
                                            <li class="t-mr-16">
                                                <a target="blank" href="/${data[i].url}" class="t-link t-link--secondary ex-sm-text text-capitalize"
                                                    tabindex="0">
                                                    <span class="las la-calendar-alt sm-text"></span>
                                                    ${data[i].date}
                                                </a>
                                            </li>
                                            <li>
                                                <a target="blank" href="/${data[i].url}" class="t-link t-link--secondary ex-sm-text text-capitalize"
                                                    tabindex="0">
                                                    <span class="las la-clock sm-text"></span>
                                                    10 min read
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>`;
                }
            }


            const res1 = await fetch("/showCategory", {
                method: "POST",
                headers: { "Content-Type": "application/json" },
                body: JSON.stringify({}),
            });

            const data1 = await res1.json();
            //console.log(data1);

            //for setting category
            let ulCategory = "";
            let footerCat = '';
            let catinnav = ["tech", "lifestyle", "business", "travel"];//categories that are in navbar

            let arrAllCat = [];
            for (var i = 0; i < data1.length; i++) {
                arrAllCat.push(data1[i].category)
            }
            //console.log(arrAllCat)

            var final = arrAllCat.filter(function (item) {
                return !catinnav.includes(item);
            })
           // console.log('final', final)


            for (var i = 0; i < final.length; i++) {

                ulCategory += `<li class="sub-menu__item">
            										<a target="blank" href="/category/${final[i]}"
            											class="t-link sub-menu__link text-uppercase">
            											${final[i]}
            										</a>
            									</li>`;

                if (i < 5) {
                    footerCat += `<li class="t-mb-10">
								<a href="/category/${final[i]}" class="t-link text-capitalize t-link--light sm-text">
									${final[i]}
								</a>
							    </li>`;
                }
            }

            document.getElementById("data").innerHTML = options;//for setting category in navbar
            document.getElementById("footerCat").innerHTML = footerCat;//for setting the categories in footer
            document.getElementById("ulCategory").innerHTML = ulCategory;//for setting the categories in navbar 
        }
    </script>



<script>
    function getBlogFromSearch() {
        var value = $("#search").val();

        var container = $(".results"); //result container
        var srch = $(".srch"); //search button

        let reslt = document.getElementById("results");
        reslt.classList.remove("dnone");

        var formdata1 = new FormData();

        formdata1.append("val", value);

        //console.log(value);

        $.ajax({
            url: "/searchblog",
            data: formdata1,
            contentType: false,
            processData: false,
            type: "POST",
            success: function (data) {
                //console.log(data);
                let resultsdata = "";

                //if there is no result then this will show
                if (data.length === 0) {
                    //console.log("is zero");
                    resultsdata += `<section class="" style="padding:8px; text-align:center;background:#14213d;color:white;">No related blogs found!!!</section>`;
                }

                for (var i = 0; i < data.length; i++) {
                    resultsdata += `<a href="/${data[i].url}" target="_blank"><section class="results-data">${data[i].title}</section></a>`;
                }
                $(".results").html(resultsdata);

                $(document).click(function (e) {
                    // if the target of the click isn't the container nor a descendant of the container
                    if (
                        !container.is(e.target) &&
                        container.has(e.target).length === 0
                    ) {
                        if (!srch.is(e.target)) {
                            reslt.classList.add("dnone");
                        }
                    }
                });
            },
        });
    }
</script>





</body>


</html>