<!DOCTYPE html>
<html lang="en">

<!-- Mirrored from blog.softtechthemes.com/html/blog/error.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 07 Mar 2022 11:35:07 GMT -->

<head>
		<%-include('head.ejs') %> 
</head>

<body>
	<!-- Preloader -->
	<div class="preloader js-preloader flex-center">
		<div class="dots">
			<div class="dot"></div>
			<div class="dot"></div>
			<div class="dot"></div>
		</div>
	</div>
	<!-- Preloader End -->

	<!-- Nav Top -->
	<div class="nav-top">
		<div class="container">
			<div class="row justify-content-between">
				<div class="col-md-6 d-flex align-items-center">
					<a href="#" class="t-link t-link--light">
						<span class="t-mr-8 d-inline-block">
							<span class="las la-envelope-open"></span>
						</span>
						<span class="sm-text">
							Mail: support@blognews.com
						</span>
					</a>
				</div>
				<div class="col-md-6 d-none d-lg-block">
					<ul class="list d-flex justify-content-end">
						<li class="t-text-light  d-flex align-items-center">
							<span class="sm-text" id="date">

							</span>
						</li>
						<li class="t-text-light">
							<ul class="list d-flex w-100 t-pl-30 t-pr-30 t-pt-30 pt-lg-0">
								<li class="list__item t-mr-16">
									<a href="#" class="t-link t-link--light navbars__list-link">
										<span class="lab la-facebook-f"></span>
									</a>
								</li>
								<li class="list__item t-mr-16">
									<a href="#" class="t-link t-link--light navbars__list-link">
										<span class="lab la-twitter"></span>
									</a>
								</li>
								<li class="list__item t-mr-16">
									<a href="#" class="t-link t-link--light navbars__list-link">
										<span class="lab la-instagram"></span>
									</a>
								</li>
								<li class="list__item">
									<a href="#" class="t-link t-link--light navbars__list-link">
										<span class="lab la-youtube"></span>
									</a>
								</li>
							</ul>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<!-- Nav Top End -->

	<!-- Header  -->
	<header class="header">
		<div class="container">
			<div class="row align-items-center">
				<div class="col-md-4 t-mb-16 mb-md-0">
					<div class="brand">
						<a href="/" class="t-link">
							<img src="/assets/img/logo.png" alt="blog" class="img-fluid w-100" />
						</a>
					</div>
				</div>
				<div class="col-md-5 t-mb-16 mb-md-0">
					<a href="#" class="t-link">
						<img src="/assets/img/ad-sm.jpg" alt="blog" class="img-fluid w-100" />
					</a>
				</div>
				<div class="col-md-3">
					<div class="search-form">
						<input type="text" name="search" id="search" class="search-form__input"
						 placeholder="search blogs" />
						<span class="search-form__icon srch" onclick="getBlogFromSearch()">
							<span class="las la-search"></span>
						</span>
					</div>
					<div class="results" id="results">
					</div>
				</div>
			</div>
		</div>
	</header>
	<!-- Header End -->

	<!-- Navbar  -->
	<div class="navbars">
		<div class="container">
			<div class="row">
				<div class="col-12 text-right d-lg-none">
					<a href="#" class="navbars__hamburger t-link">
						<span class="las la-bars"></span>
					</a>
				</div>
				<div class="col-12">
					<div class="navbars__menu">
						<div class="navbars__cross d-lg-none">
							<span class="las la-times"></span>
						</div>

						<ul class="list w-100 t-pl-30 t-pr-30 navbars__list pl-lg-0">
							<li class="list__item navbars__list-item  ">
								<a href="/" class="t-link t-link--light text-uppercase navbars__list-link w-100">
									home
								</a>
							</li>
							<!-- <li class="list__item navbars__list-item navbars__list-item-has-sub">
								<a href="#" class="t-link t-link--light text-uppercase navbars__list-link w-100">
									category
								</a>
								<ul class="list sub-menu"   id="ulCategory">
								
								</ul>
							</li> -->
							<style>
								.dropbtn {
									background-color: #14213d;
									color: white;
									padding: 16px;
									font-size: 16px;
									border: none;
									cursor: pointer;
									margin-bottom: 0;
									padding-top: 15px;
									padding-bottom: 15px;
									font-size: 14px;
									font-weight: 500;
									letter-spacing: 2px;
								}

								.dropdown {
									position: relative;
									display: inline-block;
								}

								.dropdown-content {
									display: none;
									display: none;
									width: auto;
									position: absolute;
									left: -25%;
									background-color: #f9f9f9;
									min-width: 780px;
									box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
									z-index: 1;
								}

								.dropdown-content a {
									color: black;
									padding: 12px 16px;
									text-decoration: none;
									display: inline-block;
								}

								.dropdown-content a:hover {
									background-color: #00b9f1
								}

								.dropdown:hover .dropdown-content {
									display: flex;
									flex-wrap: wrap;
								}

								.dropdown:hover .dropbtn {

									color: #00b9f1 !important;
								}

								@media screen and (min-width: 992px) {
									.sub-menu__item {
										border-bottom: 0px solid rgba(230, 230, 230, 0.5);
									}
								}

								@media screen and (max-width: 768px) {
									.dropdown-content {
										position: static;
										left: 0;
										min-width: unset;
										background-color: inherit;
									}

									.dropbtn {
										padding: 0;
										font-size: 18px;
									}
								}

								.sub-menu__item {
									width: 130px;
									text-align: center;
									border-bottom: 0px solid rgba(230, 230, 230, 0.5);
								}
							</style>

							<li class="dropdown list__item navbars__list-item">
								<button class="dropbtn">CATEGORIES <i class="fa fa-angle-down"
										style="font-size:18px;"></i></button>
								<div class="dropdown-content" id="ulCategory">
								</div>
							</li>
							<li class="list__item navbars__list-item">
								<a href="/category/tech"
									class="t-link t-link--light text-uppercase navbars__list-link w-100">
									tech
								</a>
							</li>
							<li class="list__item navbars__list-item">
								<a href="/category/travel"
									class="t-link t-link--light text-uppercase navbars__list-link w-100">
									travel
								</a>
							</li>
							<li class="list__item navbars__list-item">
								<a href="/category/lifestyle"
									class="t-link t-link--light text-uppercase navbars__list-link w-100">
									lifestyle
								</a>
							</li>
							<li class="list__item navbars__list-item">
								<a href="/category/business"
									class="t-link t-link--light text-uppercase navbars__list-link w-100">
									business
								</a>
							</li>
							<li class="list__item navbars__list-item">
								<a href="/contact" class="t-link t-link--light text-uppercase navbars__list-link w-100">
									contact
								</a>
							</li>
							<li class="list__item navbars__list-item">
								<a href="/blog-post"
									class="t-link t-link--light text-uppercase navbars__list-link w-100">
									post a blog
								</a>
							</li>
						</ul>

						<!-- <div class="d-lg-flex align-items-center w-100 t-w-lg-initial">
							<div
								class="d-none k-lang d-lg-flex align-items-center justify-content-lg-end w-100 t-pl-30 t-pr-30">
								<select>
									<option data-display="Language">
										French
									</option>
									<option value="1">
										English
									</option>
									<option value="2">
										Espanol
									</option>
								</select>
							</div>
						</div> -->
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Navbar End -->

	<div class="t-pt-60 t-pb-60">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-12 col-md-8 text-center">
					<img src="/assets/img/404.jpg" alt="blog" class="img-fluid">
					<h3 class="text-capitalize">
						Oops.... Page Not Found
					</h3>
					<a href="/" class="newsletter__button text-light">
						go home
					</a>
				</div>
			</div>
		</div>
	</div>

	<!-- Footer  -->
	<footer class="t-bg-secondary footer">
		<%-include('footer.ejs') %> 
	</footer>
	<!-- Footer End -->




	<!-- jquery -->
	<script src="/assets/js/jquery.js"></script>
	<!-- Bootstrap -->
	<script src="/assets/js/bootstrap.bundle.min.js"></script>
	<!-- Nice Select -->
	<script src="/assets/js/jquery.nice-select.min.js"></script>
	<!-- Slick Slider  -->
	<script src="/assets/js/slick.min.js"></script>
	<!-- Main script -->
	<script src="/assets/js/main.js"></script>


	<script>
		window.onload = async function () {

			var months = ["January", "February", "March", "April", "May", "June",
				"July", "August", "September", "October", "November", "December"];

			var dateObj = new Date();
			var month = dateObj.getUTCMonth() + 1; //months from 1-12
			var day = dateObj.getUTCDate();
			var year = dateObj.getUTCFullYear();

			mm = months[month - 1];
			newdate = mm + " " + day + ", " + year;
			document.getElementById("date").innerText = newdate;



			const res1 = await fetch("/showCategory", {
				method: "POST",
				headers: { "Content-Type": "application/json" },
				body: JSON.stringify({}),
			});

			const data1 = await res1.json();
			//console.log(data1);

			//for setting category
			let ulCategory = "";
			let footerCat = '';
			let catinnav = ["tech", "lifestyle", "business", "travel"];//categories that are in navbar

			let arrAllCat = [];
			for (var i = 0; i < data1.length; i++) {
				arrAllCat.push(data1[i].category)
			}
			//console.log(arrAllCat)

			var final = arrAllCat.filter(function (item) {
				return !catinnav.includes(item);
			})
			//console.log('final', final)


			for (var i = 0; i < final.length; i++) {

				ulCategory += `<li class="sub-menu__item">
            				    <a target="blank" href="/category/${final[i]}"
            											class="t-link sub-menu__link text-uppercase">
            											${final[i]}
            					</a>
            				</li>`;

				if (i < 5) {
					footerCat += `<li class="t-mb-10">
								<a href="/category/${final[i]}" class="t-link text-capitalize t-link--light sm-text">
									${final[i]}
								</a>
							    </li>`;
				}
			}
			document.getElementById("footerCat").innerHTML = footerCat;//for setting the categories in footer
			document.getElementById("ulCategory").innerHTML = ulCategory;//for setting the categories in navbar 
		}
	</script>

<script>
	function getBlogFromSearch() {
		var value = $("#search").val();

		var container = $(".results"); //result container
		var srch = $(".srch"); //search button

		let reslt = document.getElementById("results");
		reslt.classList.remove("dnone");

		var formdata1 = new FormData();

		formdata1.append("val", value);

		//console.log(value);

		$.ajax({
			url: "/searchblog",
			data: formdata1,
			contentType: false,
			processData: false,
			type: "POST",
			success: function (data) {
				//console.log(data);
				let resultsdata = "";

				//if there is no result then this will show
				if (data.length === 0) {
					//console.log("is zero");
					resultsdata += `<section class="" style="padding:8px; text-align:center;background:#14213d;color:white;">No related blogs found!!!</section>`;
				}

				for (var i = 0; i < data.length; i++) {
					resultsdata += `<a href="/blogs/${data[i].url}" target="_blank"><section class="results-data">${data[i].title}</section></a>`;
				}
				$(".results").html(resultsdata);

				$(document).click(function (e) {
					// if the target of the click isn't the container nor a descendant of the container
					if (
						!container.is(e.target) &&
						container.has(e.target).length === 0
					) {
						if (!srch.is(e.target)) {
							reslt.classList.add("dnone");
						}
					}
				});
			},
		});
	}
</script>



</body>



<!-- Mirrored from blog.softtechthemes.com/html/blog/error.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 07 Mar 2022 11:35:08 GMT -->

</html>