<div class="container">
    <div class="footer-top t-pt-40 t-pb-40">
        <div class="row align-items-center justify-content-center justify-content-md-between">
            <div class="col-md-4 t-mb-30 mb-md-0">
                <div class="brand mx-auto mr-md-auto ml-md-0">
                    <a href="/" class="t-link">
                        <img src="/assets/img/logo-w.png" alt="kotha" class="img-fluid w-100" />
                    </a>
                </div>
            </div>
            <div class="col-md-6 text-center">
                <div class="d-flex align-items-center justify-content-center justify-content-md-end">
                    <div class="t-text-primary t-mr-16 t-h1">
                        <i class="las la-headset"></i>
                    </div>
                    <div class="text-left">
                        <div class="text-capitalize t-text-primary ex-sm-text">
                            24/7 help center
                        </div>
                        <h5 class="t-mt-10 mb-0 t-text-light">
                            +12-2345678966
                        </h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-mid t-pt-40 t-pb-40">
        <div class="row">
            <div class="col-md-4 col-lg-2 t-mb-30 mb-lg-0">
                <h5 class="t-text-light mt-0 text-capitalize">
                    quick links
                </h5>
                <ul class="list">
                    <li class="t-mb-10">
                        <a href="/" class="t-link text-capitalize t-link--light sm-text">
                            home
                        </a>
                    </li>
                    <li class="t-mb-10">
                        <a href="/contact" class="t-link text-capitalize t-link--light sm-text">
                            contact
                        </a>
                    </li>
                    <li class="t-mb-10">
                        <a href="/blog-post" class="t-link text-capitalize t-link--light sm-text">
                            post a blog
                        </a>
                    </li>

                </ul>
            </div>
            <div class="col-md-4 col-lg-2 t-mb-30 mb-lg-0">
                <h5 class="t-text-light mt-0 text-capitalize">
                    top picks
                </h5>
                <ul class="list">
                    <li class="t-mb-10">
                        <a href="/category/tech" class="t-link text-capitalize t-link--light sm-text">
                            tech
                        </a>
                    </li>
                    <li class="t-mb-10">
                        <a href="/category/travel" class="t-link text-capitalize t-link--light sm-text">
                            travel
                        </a>
                    </li>
                    <li class="t-mb-10">
                        <a href="/category/lifestyle" class="t-link text-capitalize t-link--light sm-text">
                            lifestyle
                        </a>
                    </li>
                    <li class="t-mb-10">
                        <a href="/category/business" class="t-link text-capitalize t-link--light sm-text">
                            business
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-md-4 col-lg-2 t-mb-30 mb-lg-0">
                <h5 class="t-text-light mt-0 text-capitalize">
                    categories
                </h5>
                <ul class="list" id="footerCat">
                    <li class="t-mb-10">
                        <a href="#" class="t-link text-capitalize t-link--light sm-text">
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-md-6 col-lg-3 t-mb-30 mb-lg-0">
                <h5 class="t-text-light mt-0 text-capitalize">
                    get in touch
                </h5>
                <p class="t-text-light sm-text">
                    1313 Broadway, New York NY-10001, United States
                    of America
                </p>
                <p class="t-text-light sm-text">
                    +12-2345687966 (For Ads)
                </p>
                <p class="t-text-light sm-text mb-0">
                    info@example.com
                </p>
            </div>
            <div class="col-md-6 col-lg-3 t-mb-30 mb-lg-0">
                <h5 class="t-text-light mt-0 text-capitalize">
                    follow us
                </h5>
                <ul class="list row">
                    <li>
                        <a href="#" class="t-link">
                            <span class="social-counter__icon social-counter__icon--be t-mr-8">
                                <span class="social-counter__icon-is">
                                    <i class="lab la-behance"></i>
                                </span>
                            </span>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="t-link">
                            <span class="social-counter__icon social-counter__icon--fb t-mr-8">
                                <span class="social-counter__icon-is">
                                    <i class="lab la-facebook-f"></i>
                                </span>
                            </span>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="t-link">
                            <span class="social-counter__icon social-counter__icon--tw t-mr-8">
                                <span class="social-counter__icon-is">
                                    <i class="lab la-twitter"></i>
                                </span>
                            </span>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="t-link">
                            <span class="social-counter__icon social-counter__icon--ins t-mr-8">
                                <span class="social-counter__icon-is">
                                    <i class="lab la-instagram"></i>
                                </span>
                            </span>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="t-link">
                            <span class="social-counter__icon social-counter__icon--in t-mr-8">
                                <span class="social-counter__icon-is">
                                    <i class="lab la-linkedin-in"></i>
                                </span>
                            </span>
                        </a>
                    </li>
                </ul>
                <div class="t-mt-30">
                    <h6 class="t-text-light text-capitalize">
                        download app
                    </h6>
                    <ul class="list row">
                        <li class="t-mr-8 t-mb-10 mb-xl-0">
                            <a href="#" class="t-link">
                                <img src="/assets/img/g-play.png" alt="kotha" class="img-fluid" />
                            </a>
                        </li>
                        <li>
                            <a href="#" class="t-link">
                                <img src="/assets/img/i-store.png" alt="kotha" class="img-fluid" />
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom t-pb-40 t-pt-40">
        <div class="row">
            <div class="col-12 text-center">
                <p class="mb-0 t-text-light sm-text">
                    &copy; 2020, Kotha Mag. Design by
                    <a href="#" class="t-link t-link--primary">whyshy</a>
                    . All Rights Reserved.
                </p>
            </div>
        </div>
    </div>
</div>