
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>blog - Newspaper | Magazine Template</title>

	<!-- favicon -->
	<link rel="icon" href="/assets/img/favicon.png" sizes="16x16" type="image/png" />


	<!-- FONTAWESOME -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


	<!-- Stylesheet Link -->
	<link rel="stylesheet" href="/assets/css/style.css" />
