<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Blog</title>
    <!-- App favicon -->
    <link rel="shortcut icon" href="../assets/img/favicon.png" />
    <!--Global Styles(used by all pages)-->
    <link href="/assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/assets/plugins/metisMenu/metisMenu.min.css" rel="stylesheet" />
    <link href="/assets/plugins/fontawesome/css/all.min.css" rel="stylesheet" />
    <link href="/assets/plugins/typicons/src/typicons.min.css" rel="stylesheet" />
    <link href="/assets/plugins/themify-icons/themify-icons.min.css" rel="stylesheet" />
    <!--Third party Styles(used by this page)-->
    <link href="/assets/plugins/glyphicons/glyphicons.css" rel="stylesheet" />
    <!--Third party Styles(used by this page)-->
    <link href="/assets/plugins/summernote/summernote.css" rel="stylesheet" />
    <link href="/assets/plugins/summernote/summernote-bs4.css" rel="stylesheet" />
    <!--Third party Styles(used by this page)-->
    <link href="/assets/plugins/datatables/dataTables.bootstrap4.min.css" rel="stylesheet" />
    <!--Third party Styles(used by this page)-->
    <link href="/assets/plugins/select2/dist/css/select2.min.css" rel="stylesheet" />
    <link href="/assets/plugins/select2-bootstrap4/dist/select2-bootstrap4.min.css" rel="stylesheet" />
    <link href="/assets/plugins/jquery.sumoselect/sumoselect.min.css" rel="stylesheet" />
    <link href="/assets/dist/css/select.html" rel="stylesheet" type="text/css" />

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>

    <!--Start Your Custom Style Now-->
    <link href="/assets/dist/css/style.css" rel="stylesheet" />

    <style>
        .note-editor {
            z-index: 0;
        }

        .modal-backdrop {
            z-index: -1 !important;
            /* position: absolute !important; */
        }

        .modal {
            background: rgba(0, 0, 0, 0.65);
        }

        .modal-dialog {
            margin-top: 10%;
        }
    </style>
</head>

<body class="fixed">
    <!-- Page Loader -->
    <div class="page-loader-wrapper">
        <div class="loader">
            <div class="preloader">
                <div class="spinner-layer pl-green">
                    <div class="circle-clipper left">
                        <div class="circle"></div>
                    </div>
                    <div class="circle-clipper right">
                        <div class="circle"></div>
                    </div>
                </div>
            </div>
            <p>Please wait...</p>
        </div>
    </div>
    <!-- #END# Page Loader -->

    <!--change password Modal -->
    <div class="modal fade" id="change" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered mt-0">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Change Password</h5>
                    <button type="button" id="close" class="btn-close" data-bs-dismiss="modal" aria-label="Close" style="
                background-color: inherit;
                border: none;
                outline: none;
                cursor: pointer;
              ">
                        <i class="fa fa-window-close fa-2x"></i>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="d-flex align-items-center justify-content-center text-center">
                        <div class="form-wrapper m-auto" style="width: 100%">
                            <div class="form-container my-4" style="max-width: unset">
                                <div class="panel" style="border: none; box-shadow: none">
                                    <form class="register-form">
                                        <div class="form-group">
                                            <input type="text" class="form-control" id="uname" placeholder="username" />
                                        </div>
                                        <div class="form-group">
                                            <input type="password" class="form-control" id="password"
                                                placeholder="Old Password" />
                                        </div>
                                        <div class="form-group">
                                            <input type="password" class="form-control" id="newPassword"
                                                placeholder="New Password" />
                                        </div>
                                        <section class="btn btn-success btn-block" onclick="cpswrd()">
                                            Change password
                                        </section>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--  manage category Modal -->
    <div class="modal fade" id="manageCat" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered mt-0">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Categories</h5>
                    <button type="button" id="close" class="btn-close" data-bs-dismiss="modal" aria-label="Close" style="
                background-color: inherit;
                border: none;
                outline: none;
                cursor: pointer;
              ">
                        <i class="fa fa-window-close fa-2x"></i>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="d-flex align-items-center justify-content-center text-center">
                        <div class="form-wrapper m-auto" style="width: 100%">
                            <div class="form-container my-4" style="max-width: unset">
                                <div class="panel" style="border: none; box-shadow: none">
                                    <form class="register-form">
                                        <div class="form-group">
                                            <input type="text" class="form-control" id="cat"
                                                placeholder="add category" />
                                        </div>
                                        <section class="btn btn-success btn-block" onclick="addCat()">
                                            Add category
                                        </section>
                                    </form>
                                </div>
                            </div>

                            <div id="catInModal" class="mb-4 d-flex flex-wrap">
                                <p>wswfefe</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <style>
        /* for categories in modal */
        .catinmodal {
            width: 48%;
            padding: 10px;
            background: #e1e1e1;
            margin: 4px;
            border-radius: 4px;
            cursor: pointer;
            text-transform: capitalize;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .catinmodal:hover {
            color: white;
            background: #070c17;
            transition: all 0.8s;
        }

        .catinmodal:hover #ii {
            color: rgb(255, 0, 0);
            transition: all 0.8s;
        }

        /* for super categories */

        .wrapper11 {
            display: flex;
            background: #fff;
            height: auto;
            width: 100%;
            align-items: center;
            /* justify-content: space-evenly; */
            border-radius: 5px;
            padding: 9px 11px;
            border: 1px solid #e4e5e7;
            /* height: calc(1.8em + .75rem + 2px); */
        }

        .wrapper11 .option {
            background: #fff;
            height: 100%;
            width: fit-content;
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            margin: 0 10px;
            border-radius: 5px;
            cursor: pointer;
            padding: 4px 10px;
            border: 2px solid lightgrey;
            transition: all 0.3s ease;
        }

        .wrapper11 .option .dot {
            height: 14px;
            width: 14px;
            background: #d9d9d9;
            border-radius: 50%;
            position: relative;
        }

        .wrapper11 .option .dot::before {
            position: absolute;
            content: "";
            top: 3px;
            left: 3px;
            width: 8px;
            height: 8px;
            background: #0069d9;
            border-radius: 50%;
            opacity: 0;
            transform: scale(1.5);
            transition: all 0.3s ease;
        }

        input[type="radio"] {
            display: none;
        }

        #option-1:checked:checked~.option-1,
        #option-2:checked:checked~.option-2,
        #option-3:checked:checked~.option-3,
        #option-4:checked:checked~.option-4,
        #option-5:checked:checked~.option-5 {
            border-color: #0069d9;
            background: #0069d9;
        }

        #option-1:checked:checked~.option-1 .dot,
        #option-2:checked:checked~.option-2 .dot,
        #option-3:checked:checked~.option-3 .dot,
        #option-4:checked:checked~.option-4 .dot,
        #option-5:checked:checked~.option-5 .dot {
            background: #fff;
        }

        #option-1:checked:checked~.option-1 .dot::before,
        #option-2:checked:checked~.option-2 .dot::before,
        #option-3:checked:checked~.option-3 .dot::before,
        #option-4:checked:checked~.option-4 .dot::before,
        #option-5:checked:checked~.option-5 .dot::before {
            opacity: 1;
            transform: scale(1);
        }

        .wrapper .option span {
            /* font-size: 20px; */
            color: #808080;
        }

        #option-1:checked:checked~.option-1 span,
        #option-2:checked:checked~.option-2 span,
        #option-3:checked:checked~.option-3 span,
        #option-4:checked:checked~.option-4 span,
        #option-5:checked:checked~.option-5 span {
            color: #fff;
        }

        @media (max-width: 768px) {
            .wrapper11 {
                flex-direction: column;
                justify-content: unset;
            }

            .wrapper11 .option {
                width: 100%;
                justify-content: unset;
            }

            .catinmodal {
                margin: 2px;
            }
        }
    </style>

    <div class="wrapper">
        <!-- Sidebar  -->
        <nav class="sidebar sidebar-bunker">
            <!-- <div class="sidebar-header">
          <a href="index.html" class="logo "
            ><img src="../assets/images/Beautiful-Beginnings.png" height="60px" alt=""
          /> Beautiful Beginnings</a>
        </div> -->
            <!--/.sidebar header-->
            <div class="profile-element d-flex align-items-center flex-shrink-0">
                <div class="avatar online">
                    <img src="/assets/dist/img/avatar5.png" class="img-fluid rounded-circle" alt="" />
                </div>
                <div class="profile-text">
                    <h6 class="m-0">Admin</h6>
                    <section class="adminName" style="color: #28a745 !important"></section>
                    <!-- <span
              ><a
                href="cdn-cgi/l/email-protection.html"
                class="__cf_email__"
                data-cfemail="305548515d405c5570575d51595c1e535f5d"
                >[email&#160;protected]</a
              ></span
            > -->
                </div>
            </div>
            <!--/.profile element-->

            <div class="sidebar-body">
                <nav class="sidebar-nav">
                    <ul class="metismenu">
                        <li class="nav-label">Main Menu</li>
                        <!-- <li>
                <a class="has-arrow material-ripple" href="#">
                  <i class="typcn typcn-home-outline mr-2"></i>
                  Dashboard
                </a>
              </li> -->
                        <li class="mm-active" class="dropdown-item">
                            <a class="material-ripple" href="" style="color: #fff">
                                <i class="typcn typcn-home-outline mr-2"></i>
                                Dashboard
                            </a>
                        </li>
                        <li class="">
                            <a class="material-ripple" href="/admin/blogs-management" style="color: #fff">
                                <i class="typcn typcn-clipboard mr-2"></i>
                                Blogs
                            </a>
                        </li>
                        <li class="" class="dropdown-item" data-bs-toggle="modal" data-bs-target="#manageCat">
                            <a class="material-ripple" style="color: #fff">
                                <i class="typcn typcn-archive mr-2"></i>
                                Manage Category
                            </a>
                        </li>
                        <li class="" class="dropdown-item">
                            <a class="material-ripple" href="/admin/messages" style="color: #fff">
                                <i class="typcn typcn-mail mr-2"></i>
                                Enquiry
                            </a>
                        </li>

                        <!-- <li class="">
                <a
                  class="material-ripple"
                  href="/messages"
                  style="
                    color: #fff;
                  "
                >
                  <i class="typcn typcn-clipboard mr-2"></i>
                  Messages
                </a>
              </li> -->
                    </ul>
                </nav>
            </div>
            <!-- sidebar-body -->
        </nav>
        <!-- Page Content  -->
        <div class="content-wrapper">
            <div class="main-content">
                <nav class="navbar-custom-menu navbar navbar-expand-lg m-0">
                    <div class="sidebar-toggle-icon" id="sidebarCollapse">
                        sidebar toggle<span></span>
                    </div>
                    <!--/.sidebar toggle icon-->
                    <div class="d-flex flex-grow-1">
                        <ul class="navbar-nav flex-row align-items-center ml-auto">
                            <li class="nav-item dropdown user-menu">
                                <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">
                                    <!--<img src="/assets/dist/img/user2-160x160.png" alt="">-->
                                    <i class="typcn typcn-user-add-outline"></i>
                                </a>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <div class="dropdown-header d-sm-none">
                                        <a href="#" class="header-arrow"><i class="icon ion-md-arrow-back"></i></a>
                                    </div>
                                    <div class="user-header">
                                        <div class="img-user">
                                            <img src="/assets/dist/img/avatar5.png" alt="" />
                                        </div>
                                        <!-- img-user -->
                                        <h6>Admin</h6>
                                        <section class="adminName" style="color: #28a745 !important"></section>
                                        <!-- <span
                        ><a
                          href="cdn-cgi/l/email-protection.html"
                          class="__cf_email__"
                          data-cfemail="1a7f627b776a767f5a7d777b737634797577"
                          >[email&#160;protected]</a
                        ></span> -->
                                    </div>
                                    <!-- user-header -->
                                    <span class="dropdown-item" data-bs-toggle="modal" data-bs-target="#change"
                                        style="cursor: pointer"><i class="typcn typcn-edit"></i> Change Password</span>
                                    <span onclick="logout()" class="dropdown-item" style="cursor: pointer"><i
                                            class="typcn typcn-key-outline"></i> Sign Out</span>
                                </div>
                                <!--/.dropdown-menu -->
                            </li>
                        </ul>
                        <!--/.navbar nav-->
                        <div class="nav-clock">
                            <div class="time">
                                <span class="time-hours"></span>
                                <span class="time-min"></span>
                                <span class="time-sec"></span>
                            </div>
                        </div>
                        <!-- nav-clock -->
                    </div>
                </nav>
                <!--/.navbar-->

                <div class="body-content">
                    <div class="card-header mb-3">
                        <div class="d-flex justify-content-between align-items-center">
                            <div>
                                <h6 class="fs-17 font-weight-600 mb-0">CATEGORIES</h6>
                            </div>
                            <div class="text-right">
                                <div class="actions">
                                    <a href="" class="action-item"><i class="ti-reload"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row" id="boxesHolder">
                        <div class="col-md-6 col-lg-3">
                            <!--Active users indicator-->
                            <div class="p-2 bg-primary text-white rounded mb-3 p-3 shadow-sm text-center">
                                <div class="opacity-50 header-pretitle fs-11 font-weight-bold text-uppercase">
                                    Right now
                                </div>
                                <div class="fs-32 text-monospace">90</div>
                                <small>active users on site</small>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-3">
                            <div class="d-flex flex-column p-3 mb-3 bg-white shadow-sm rounded">
                                <div class="header-pretitle text-muted fs-11 font-weight-bold text-uppercase mb-2">
                                </div>
                                <div class="d-flex align-items-center text-size-3">
                                    <div class="text-monospace">
                                        <span class="text-size-2"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--/.body content-->
            </div>
            <!--/.main content-->
            <!--/.footer content-->
            <div class="overlay"></div>
        </div>
        <!--/.wrapper-->
    </div>
    <!--Global script(used by all pages)-->

    <script>
        async function addCat() {
            var cat = document.getElementById("cat").value;
            console.log(cat);

            const res = await fetch("/addCategory", {
                method: "POST",
                headers: { "Content-Type": "application/json" },
                body: JSON.stringify({
                    cat,
                }),
            });

            const data = await res.json();
            console.log(data);
            if (data.message === "alreadyExists") {
                alert("category already exists");
            } else if (data.message === "categoryAdded") {
                location.reload();
            }
        }

        async function deleteCategory(id) {
            console.log(id);

            const res = await fetch("/deleteCategory", {
                method: "POST",
                headers: { "Content-Type": "application/json" },
                body: JSON.stringify({ id }),
            });

            const data = await res.json();
            console.log(data);
            if (data.message === "deleted") {
                location.reload();
            }
        }

        async function fetchCategory(x) {
            const res = await fetch("/showCategory", {
                method: "POST",
                headers: { "Content-Type": "application/json" },
                body: JSON.stringify({}),
            });

            const data = await res.json();
            console.log('datatattatat',data);

            console.log("x", x); //all the blogs data

            //for setting options category
            let boxes = "";
            let span = "";

            for (var i = 0; i < data.length; i++) {
                //for counting the number of posts each category has
                var categoryCount = [];
                for (var j = 0; j < x.length; j++) {
                    if (x[j].category == data[i].category) {
                        console.log(x[j].category);
                        categoryCount.push(x[j].category);
                    }
                }
                console.log('_id',data[i]._id)
                //for counting the super categories make an array of all those categories and then use the above loop
                boxes += `<div class="col-md-6 col-lg-3">
                            <div class="d-flex flex-column p-3 mb-3 bg-white shadow-sm rounded">
                                <div class="header-pretitle text-muted fs-11 font-weight-bold text-uppercase mb-2">${data[i].category}</div>
                                <div class="d-flex align-items-center text-size-3">
                                    <div class="text-monospace">
                                        <span class="text-size-2 ">${categoryCount.length} </span>
                                    </div>
                                    <span class=" text-danger ml-2">Blogs</span>
                                </div>
                            </div>
                        </div>
                `;
                span += `<section class="catinmodal" onclick="deleteCategory('${data[i]._id}')">${data[i].category}&nbsp;&nbsp;<i class="fa fa-trash" id="ii" /></i></section>`;
            }

            document.getElementById("boxesHolder").innerHTML = boxes; //for the modal
            document.getElementById("catInModal").innerHTML = span; //for the modal
        }

        async function getAdminName() {
            $.ajax({
                url: "/getAdminName",
                data: "",
                contentType: false,
                processData: false,
                type: "POST",
                success: function (data) {
                    $(".adminName").text(data.admin);
                },
            });
        }

        window.onload = async function () {
            getAdminName();

            const res = await fetch("/show", {
                method: "POST",
                headers: { "Content-Type": "application/json" },
                body: JSON.stringify({}),
            });

            const data = await res.json();

            fetchCategory(data);
        };
    </script>

    <script>
        async function cpswrd() {
            console.log("cpswrd function ran");

            const uname = document.getElementById("uname").value;
            const password = document.getElementById("password").value;
            const newPassword = document.getElementById("newPassword").value;
            console.log(uname, password, newPassword);

            const res = await fetch("/cpswrd", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json",
                },
                body: JSON.stringify({
                    uname,
                    password,
                    newPassword,
                }),
            });

            const data = await res.json();
            if (data.message == "changed") {
                alert("Password changed successfully!");
                document.getElementById("password").value = "";
                document.getElementById("newPassword").value = "";
                document.getElementById("close").click();
            }
        }
    </script>

    <script>
        async function logout() {
            console.log("logout function ran");
            const res = await fetch("/logout", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json",
                },
                body: JSON.stringify({}),
            });

            const data = await res.json();
            console.log(data);
            if (data.message == "loggedOut") {
                location.reload();
            }
        }
    </script>
    <!-- 
    <script data-cfasync="false" src="cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script> -->
    <script src="/assets/plugins/jQuery/jquery-3.4.1.min.js"></script>
    <script src="/assets/dist/js/popper.min.js"></script>
    <script src="/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
    <script src="/assets/plugins/metisMenu/metisMenu.min.js"></script>
    <script src="/assets/plugins/perfect-scrollbar/dist/perfect-scrollbar.min.js"></script>
    <!-- Third Party Scripts(used by this page)-->
    <script src="/assets/plugins/summernote/summernote.min.js"></script>
    <script src="/assets/plugins/summernote/summernote-bs4.min.js"></script>
    <!-- Third Party Scripts(used by this page)-->
    <script src="/assets/plugins/datatables/dataTables.min.js"></script>
    <script src="/assets/plugins/datatables/dataTables.bootstrap4.min.js"></script>
    <script src="/assets/plugins/select2/dist/js/select2.min.js"></script>
    <script src="/assets/plugins/jquery.sumoselect/jquery.sumoselect.min.js"></script>
    <!--Page Active Scripts(used by this page)-->
    <script src="/assets/dist/js/pages/demo.select2.js"></script>
    <script src="/assets/dist/js/pages/demo.jquery.sumoselect.js"></script>
    <script src="/assets/dist/js/pages/newsletter.active.js"></script>
    <!--Page Active Scripts(used by this page)-->
    <!-- <script src="/assets/plugins/datatables/data-advanced.active.js"></script> -->
    <!--Page Active Scripts(used by this page)-->
    <script src="/assets/dist/js/pages/forms-basic.active.js"></script>
    <!--Page Active Scripts(used by this page)-->
    <script src="/assets/plugins/summernote/summernote.active.js"></script>

    <!--Page Scripts(used by all page)-->
    <script src="/assets/dist/js/sidebar.js"></script>
</body>

</html>