<!DOCTYPE html>
<html lang="en">
  <!-- Mirrored from bhulua.thememinister.com/login.html by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 16 Jul 2021 09:50:15 GMT -->
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Admin panel</title>
    <!-- App favicon -->
    <link rel="shortcut icon" href="" />
    <!--Global Styles(used by all pages)-->
    <link
      href="/assets/plugins/bootstrap/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link href="/assets/plugins/metisMenu/metisMenu.min.css" rel="stylesheet" />
    <link href="/assets/plugins/fontawesome/css/all.min.css" rel="stylesheet" />
    <link
      href="/assets/plugins/typicons/src/typicons.min.css"
      rel="stylesheet"
    />
    <link
      href="/assets/plugins/themify-icons/themify-icons.min.css"
      rel="stylesheet"
    />
    <!--Third party Styles(used by this page)-->

    <!--Start Your Custom Style Now-->
    <link href="/assets/dist/css/style.css" rel="stylesheet" />
  </head>
  <body class="bg-white">
    <div
      class="d-flex align-items-center justify-content-center text-center h-100vh"
    >
      <div class="form-wrapper m-auto" style="width: 30%">
        <div class="form-container my-4" style="max-width: unset">
          <div class="register-logo text-center mb-4">
            <img
              src=""
              width="150px"
              alt=""
            />
          </div>

          <div class="panel">
            <form class="register-form p-4" action="/admin/login" method="POST">
              <div class="form-group">
                <input
                  type="text"
                  class="form-control"
                  id="userName"
                  name="userName"
                  placeholder="Username"
                />
              </div>
              <div class="form-group">
                <input
                  type="password"
                  class="form-control"
                  id="userName"
                  name="password"
                  placeholder="Password"
                />
              </div>

              <button type="submit" class="btn btn-success btn-block">
                Sign in
              </button>
            </form>
          </div>
          <p style="padding: 20px 0;color: red;"><%= text %></p>
          <!-- <div class="bottom-text text-center my-3">
                        Don't have an account? <a href="register.html" class="font-weight-500">Sign Up</a><br>
                        Remind <a href="forget_password.html" class="font-weight-500">Password</a>
                    </div> -->
        </div>
      </div>
    </div>
    <!-- /.End of form wrapper -->
    <!--Global script(used by all pages)-->
    <script src="/assets/plugins/jQuery/jquery-3.4.1.min.js"></script>
    <script src="/assets/dist/js/popper.min.js"></script>
    <script src="/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
    <script src="/assets/plugins/metisMenu/metisMenu.min.js"></script>
    <script src="/assets/plugins/perfect-scrollbar/dist/perfect-scrollbar.min.js"></script>
    <!-- Third Party Scripts(used by this page)-->

    <!--Page Active Scripts(used by this page)-->

    <!--Page Scripts(used by all page)-->
    <script src="/assets/dist/js/sidebar.js"></script>
  </body>

  <!-- Mirrored from bhulua.thememinister.com/login.html by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 16 Jul 2021 09:50:15 GMT -->
</html>
